h1 {
	font-family: 'Pirata One', cursive;
	text-align: center;
	font-size: 80px;
	color: #CC9966;
}

p {
	font-family: 'Pirata One', cursive;
	text-align: center;
	font-size: 70px;
	color: #CC9966;
}

.jumbotron {
	background-image: url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/42/42869-bigthumbnail.jpg');
	background-size: cover;
	width: 100%;
	border-width: thin;
	margin: 0 auto;
	height: 205px;
}
.container {
	border: none !important;
}

.colA {
	float: right ;
	width: 50%;
	height: 469px;
	color: #CCCC99;
	font-family: 'Pirata One', cursive;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://previews.123rf.com/images/andreykuzmin/andreykuzmin1510/andreykuzmin151000062/47321676-aged-compass-and-steering-wheel-over-nautical-map-Stock-Photo-pirate.jpg');
	border-width: thin;
}

.colB {
	float: left;
	width:50%;
	height: 469px;
	color: #CCCC99;
	font-family: 'Pirata One', cursive;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://images5.alphacoders.com/284/284187.jpg');
	border-width: thin;
}

div {
	border-style: solid;
	border-color: #CCCC99;
}
#social {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: #CCCC99;
}
#copyrite {
    text-align: center;
    color: #793b24;;
		font-size: 13px;
}
#connect {
	position: fixed;
	bottom: 0;
	width: 100%;
	border: none !important;
}
#wins {
		border: none !important;
		text-align: center;
		color: #793b24;
		font-size: 40px;
}
#loss {
		border: none !important;
		text-align: center;
		color: #793b24;
		font-size: 40px;
}
#currentWord {
		border: none !important;
		text-align: center;
		color: #793b24;
		font-size: 40px;
}
#remainingGuesses {
		border: none !important;
		text-align: center;
		color: #793b24;
		font-size: 40px;
}
#UsersGuesses {
		border: none !important;
		text-align: center;
		color: #793b24;
		font-size: 40px;
}
#hint {
		border: none !important;
		text-align: center;
		color: #CCCC99;
		font-size: 40px;
}
