h1 {
	font-family: 'Pirata One', cursive;
	text-align: center;
	font-size: 80px;
	color: #CC9966;
}

p {
	font-family: 'Pirata One', cursive;
	text-align: center;
	font-size: 70px;
	color: #CC9966;
}

.header {
	background-image: url('https://dncache-mauganscorp.netdna-ssl.com/thumbseg/42/42869-bigthumbnail.jpg');
	background-size: cover;
	width: 100%;
	height: 274px;
}

.colA {
	float: right ;
	width: 50%;
	height: 400px;
	color: #CCCC99;
	font-family: 'Pirata One', cursive;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://previews.123rf.com/images/andreykuzmin/andreykuzmin1510/andreykuzmin151000062/47321676-aged-compass-and-steering-wheel-over-nautical-map-Stock-Photo-pirate.jpg');
}

.colB {
	float: left;
	width:50%;
	height: 400px;
	color: #CCCC99;
	font-family: 'Pirata One', cursive;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://images5.alphacoders.com/284/284187.jpg');
}

div {
	border-style: solid;
	border-color: #CCCC99;
}
